table.calendar {
    margin-bottom: 0;
}

table.calendar > thead > tr > th {
    text-align: center;
}

table.calendar > tbody > tr > td {
    height: 40px;
}

table.calendar > tbody > tr > td.events {
    padding: 2px;
    position: relative;
}

table.calendar > tbody > tr > td.horas {
    font-size: 12px;
}

table.calendar > tbody > tr > td > div {
    padding: 2px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

table.calendar > tbody > tr > td > div {
    color: white;
    padding: 0;
    border-radius: 4px;
    width: 100%;
}

table.calendar > tbody > tr > td > div > table.has-events {
    position: relative;
    background-color: #08C;
    border-left: 1px solid white;
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: table;
    transition: all 1s;
}

table.calendar > tbody > tr > td > div > table.has-events .buttons {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    padding: 0;
    visibility: hidden;
    border-radius: 0 0 0 3px;
    overflow: hidden;
    opacity: 0.8;
    transition: all 0.5s;
}

table.calendar > tbody > tr > td > div > table.has-events:hover .buttons,
table.calendar > tbody > tr > td > div > table.has-events:focus .buttons{
    visibility: visible;
}

table.calendar > tbody > tr > td > div > table.has-events .buttons:hover{
    opacity: 1;
    box-shadow: 0 0 15px #000000;
}

table.calendar > tbody > tr > td > div > table.has-events:hover {
    background-color: #099CE6;
}

table.calendar > tbody > tr > td > div > div:first-child {
    border-left: 0;
    margin-left: 1px;
}

table.calendar > tbody > tr > td > div > div.practice {
    opacity: 0.7;
}
table.calendar > tbody > tr > td > td.conflicts > div > span.title {
    //color: red;
}
table.calendar > tbody > tr > td > td.max-conflicts > div {
    background-color: red;
    color: white;
}

table.calendar > tbody > tr > td > div > table.has-events span {
    display: block;
    text-align: left;
    font-size: 12px;
}
table.calendar > tbody > tr > td > div > table.has-events span a {
    color: white;
}

table.calendar > tbody > tr > td > div > table.has-events span.title {
    font-weight: bold;
}

table.table-borderless > thead > tr > th, table.table-borderless > tbody > tr > td {
    border: 0;
}

.table tbody tr.hover td, .table tbody tr.hover th {
    background-color: whiteSmoke;
}


.btn-hover{
    border-radius: 0;
    padding: 0 5px 0 5px;
}

.out-button{
    position:absolute;
    top:0;
    right:0;
}

.out-button a{
    opacity:0.2;
}

.events:hover .out-button a{
    opacity: 0.7;
}

.events:hover .out-button a:hover{
    opacity: 1;
}