

.modalPequena{
	width:350px;
	margin-left:-175px;
}

.modalMediana{
	width:450px;
	margin-left:-225px;
}

.requerido::after {
	content: "*";
	color: #C00;
	font-size: 16px;
}

.error_requerido { border-color:#FF0000; }
